<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% extends "consumer/consumer_index.html" %}
{% load static %}
{% block content %}
<head>
<title>Product Delivery Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Product Delivery Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- js -->
<script src="{% static 'consumer/requirement/js/jquery-2.1.3.min.js' %}" type="text/javascript"></script>
<!-- //js -->
<link href="{% static 'consumer/requirement/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,500,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
	<div class="main">
		<h1>ENTER REQUIREMENT</h1>
		<div class="agileinfo_main">
			<form id="testform" action="/c_requirement/" method="post">
				{% csrf_token %}
				<fieldset style="border: 1px solid #999">
					<legend>COMPANY INFO :</legend>
					
<!--					<p for="country" class="w3_field1">Country</p>-->
<!--					<select id="country" name="country" required>-->
<!--						<option value="usa">USA</option>-->
					</select>
					{% for i in data %}
					
					<p for="city">NAME</p>
					<input  name="company_name" type="text" value="{{i.company_name}}" />
					
					<p for="pincode">EMAIL</p>
					<input  name="email" type="email" value="{{i.email}}"/>
					{% endfor %}
			  
				</fieldset>
				
				<fieldset class="w3agile_field" style="border: 1px solid #999">
					<legend>REQUIREMENT :</legend>
					
					<p for="country1" class="w3_field1">TYPE</p>
					<select  name="type" required>
						<option value="greenland">SELECT</option>
						<option value="CHIPS AND HARDWARES">CHIPS AND HARDWARES</option>
						<option value="SOLAR CELLS">SOLAR CELLS</option>
						<option value="KITCHENWARE">KITCHENWARE</option>
						<option value="CONSTRUCTION">CONSTRUCTION</option>

					</select>

<!--					<legend>REQUIREMENT :</legend>-->
					<br><br>
					<p for="country1" class="w3_field1">PRODUCT</p>
					<select  name="product" required>
						<option value="greenland">SELECT</option>
						<option value="PROCESSOR">PROCESSOR</option>
						<option value="GPU">GPU</option>
						<option value="MEMORY">MEMORY</option>
						<option value="SOLAR PHOTOVOLTIC CELL">SOLAR PHOTOVOLTIC CELL</option>
						<option value="MICRO OVEN PARTS">MICRO OVEN PARTS</option>
						<option value="SILICON PAINT">SILICON PAINT</option>
						<option value="SILICA COATING">SILICA COATING</option>

					</select>
					
<!--					<p for="city1">City</p>-->
<!--					<input id="city1" name="city" type="text" required data-error-msg="We need to know which city" />-->
<!--					-->
<!--					<p for="pincode1">Pincode</p>-->
<!--					<input id="pincode1" name="pincode" type="text" required data-error-msg="Please enter a valid 6 digit pincode" />-->
			  
				</fieldset>
				
				<fieldset style="border: 1px solid #999">
					<legend>PRODUCT SPECIFICATION :</legend>
					
					<p for="firstName" class="w3_field1">PRODUCT 1</p>
					<input  name="product1" type="text" required data-error-msg="We need to know who you are"  autocomplete="off">
					
					<p for="phoneNum">PRODUCT 2</p>
					<input id="phoneNum" name="product2" type="tel" required data-error-msg="Please enter your phone number" autocomplete="off">
			  
<!--					<p for="emailAddress">Email address</p>-->
<!--					<input id="emailAddress" name="emailAddress" type="email" required-->
<!--						   data-error-msg="Please enter your valid email address"/>-->
			  
<!--					<p for="secondName">Content</p>-->
<!--					<input id="secondName" name="secondName" type="text" required data-error-msg="We need to know which content you are delivering" />-->
				
					<p for="weight">QUANTAITY</p>
					<input id="weight" name="quantatiy" type="number" min="5" required
						   data-error-msg="We need to know content weight" autocomplete="off">
					<select id="weight" name="weight" required>
						<option value="gms">gms</option>
						<option value="kgs">Kgs</option>
						<option value="gms">Unit</option>
						<option value="kgs">Liters</option>
					</select>
					
<!--					<p for="pickdate">Pick Up Date</p>-->
<!--					<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '2/08/2013';}" required="">-->
<!--				-->
<!--					<p for="city2">City</p>-->
<!--					<input id="city2" name="city" type="text" required data-error-msg="We need to know which city" />-->
<!--					-->
<!--					<p for="state">State</p>-->
<!--					<input id="state" name="state" type="text" required data-error-msg="We need to know which state" />-->
<!--					-->
<!--					<p for="pincode2">Pincode</p>-->
<!--					<input id="pincode2" name="pincode" type="text" required data-error-msg="Please enter a valid 6 digit pincode" />-->
					
					<p for="pickaddress" class="w3_textarea">QUERIES</p>
					<textarea id="pickaddress" name="queries" placeholder=" " required data-error-msg="Please enter valid address"></textarea>
					
				</fieldset>

<!--				<button id="expandBtn" type="button" class="expand-trigger" aria-expanded="false" aria-controls="collapsedSection">Ask any question?</button>-->
<!--				<div id="collapsedSection" aria-hidden="true">-->
<!--					<p for="hiddenInput">This field may or may not be visible</p>-->
<!--					<input id="hiddenInput" name="hiddenInput" type="text" required-->
<!--						   data-error-msg="You wanted an extra question"/>-->
				</div>

				<input type="submit" value="Submit">
				<input type="reset" value="Reset" />
				
			</form>
		</div>
		<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'consumer/requirement/css/jquery-ui.css' %}" />
				<script src="{% static 'consumer/requirement/js/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
		<script src="{% static 'consumer/requirement/js/attrvalidate.jquery.js' %}" type="text/javascript"></script>
		<script type="text/javascript">
		  $(document).ready(function(){
			$('#testform').attrvalidate();
			$('#resetBtn').click(function(){ $('#testform').attrvalidate('reset'); });
			$('#expandBtn').click(function(){
			  var collapsible = $('#' + $(this).attr('aria-controls'));
			  $(collapsible).attr('aria-hidden', ($(collapsible).attr('aria-hidden') === 'false'));
			  $(this).attr('aria-expanded', ($(this).attr('aria-expanded') === 'false'));
			});
		  });
		</script>
		<div class="agileits_copyright">
			<p>© 2016 Product Delivery Form Widget. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</body>
{% endblock %}	77
</html>